Repository danieleschmidt/provenance-graph-sbom-linker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-org/core-maintainers, @your-org/tech-steering-committee, @your-org/security-team, @your-org/compliance-team, @your-org/community-team, @your-org/platform-team, @your-org/backend-team, @your-org/qa-team, @your-org/frontend-team, @your-org/docs-team, @your-org/data-team, @your-org/api-team, @your-org/performance-team, @your-org/legal-team

Update README.md
  README.md
Owners: @your-org/docs-team, @your-org/core-maintainers

feat(autonomous-sdlc): complete end-to-end provenance tracking implementation
  Dockerfile
  Makefile
  cmd/cli/main.go
  cmd/server/main.go
  deploy/kubernetes/deployment.yaml
  docs/API.md
  docs/DEPLOYMENT.md
  go.mod
  internal/api/routes.go
  internal/cli/commands.go
  internal/database/neo4j.go
  internal/handlers/artifact.go
  internal/handlers/artifact_test.go
  internal/middleware/security.go
  pkg/cache/redis.go
  pkg/crypto/signing.go
  pkg/logger/logger.go
  pkg/monitoring/metrics.go
  pkg/types/types.go
  pkg/validation/validation.go
  pkg/validation/validation_test.go
  pkg/worker/pool.go
  test/integration/api_test.go
Owners: @your-org/platform-team, @your-org/security-team, @your-org/backend-team, @your-org/docs-team, @your-org/data-team, @your-org/qa-team

feat(autonomous-sdlc): complete end-to-end provenance tracking implementation (#35)
  Dockerfile
  Makefile
  cmd/cli/main.go
  cmd/server/main.go
  deploy/kubernetes/deployment.yaml
  docs/API.md
  docs/DEPLOYMENT.md
  go.mod
  internal/api/routes.go
  internal/cli/commands.go
  internal/database/neo4j.go
  internal/handlers/artifact.go
  internal/handlers/artifact_test.go
  internal/middleware/security.go
  pkg/cache/redis.go
  pkg/crypto/signing.go
  pkg/logger/logger.go
  pkg/monitoring/metrics.go
  pkg/types/types.go
  pkg/validation/validation.go
  pkg/validation/validation_test.go
  pkg/worker/pool.go
  test/integration/api_test.go
Owners: @your-org/platform-team, @your-org/security-team, @your-org/backend-team, @your-org/docs-team, @your-org/data-team, @your-org/qa-team

feat(api): add comprehensive features for artifact, provenance, SBOM, compliance, caching, logging, validation, and worker pool
  .provenance.json
  cmd/server/main.go
  go.mod
  go.sum
  internal/api/routes.go
  internal/database/neo4j.go
  internal/errors/errors.go
  internal/handlers/artifact.go
  internal/handlers/compliance.go
  internal/handlers/provenance.go
  internal/handlers/sbom.go
  internal/handlers/version.go
  internal/middleware/validation.go
  pkg/cache/distributed.go
  pkg/cache/redis.go
  pkg/logger/structured.go
  pkg/monitoring/metrics.go
  pkg/monitoring/performance.go
  pkg/validation/security.go
  pkg/validation/validation.go
  pkg/validation/validation_test.go
  pkg/worker/concurrent.go
  pkg/worker/pool.go
  spdx-sbom.json
  test-sbom.json
  test/integration/api_test.go
  test/performance/benchmark_test.go
  test/testutil/setup.go
Owners: @your-org/core-maintainers, @your-org/backend-team, @your-org/data-team, @your-org/qa-team

feat(api): add comprehensive features for artifact, provenance, SBOM, compliance, caching, logging, validation, and worker pool (#36)
  .provenance.json
  cmd/server/main.go
  go.mod
  go.sum
  internal/api/routes.go
  internal/database/neo4j.go
  internal/errors/errors.go
  internal/handlers/artifact.go
  internal/handlers/compliance.go
  internal/handlers/provenance.go
  internal/handlers/sbom.go
  internal/handlers/version.go
  internal/middleware/validation.go
  pkg/cache/distributed.go
  pkg/cache/redis.go
  pkg/logger/structured.go
  pkg/monitoring/metrics.go
  pkg/monitoring/performance.go
  pkg/validation/security.go
  pkg/validation/validation.go
  pkg/validation/validation_test.go
  pkg/worker/concurrent.go
  pkg/worker/pool.go
  spdx-sbom.json
  test-sbom.json
  test/integration/api_test.go
  test/performance/benchmark_test.go
  test/testutil/setup.go
Owners: @your-org/core-maintainers, @your-org/backend-team, @your-org/data-team, @your-org/qa-team

feat(cli): add comprehensive CLI runtime implementations
  .provenance.json
  benchmark_test.go
  gen2-test-sbom.json
  go.mod
  go.sum
  internal/cli/runtime.go
  internal/config/enhanced_config.go
  internal/database/neo4j.go
  internal/errors/errors.go
  internal/handlers/provenance.go
  internal/middleware/security.go
  pkg/discovery/service_registry.go
  pkg/loadbalancer/round_robin.go
  pkg/monitoring/metrics.go
  pkg/testing/testhelpers.go
  pkg/validation/security.go
Owners: @your-org/core-maintainers, @your-org/qa-team, @your-org/backend-team, @your-org/data-team

feat(cli): add comprehensive CLI runtime implementations (#37)
  .provenance.json
  benchmark_test.go
  gen2-test-sbom.json
  go.mod
  go.sum
  internal/cli/runtime.go
  internal/config/enhanced_config.go
  internal/database/neo4j.go
  internal/errors/errors.go
  internal/handlers/provenance.go
  internal/middleware/security.go
  pkg/discovery/service_registry.go
  pkg/loadbalancer/round_robin.go
  pkg/monitoring/metrics.go
  pkg/testing/testhelpers.go
  pkg/validation/security.go
Owners: @your-org/core-maintainers, @your-org/qa-team, @your-org/backend-team, @your-org/data-team

feat(deployment): add production deployment setup with Docker and scripts
  .provenance.json
  Dockerfile.prod
  cmd/standalone/main.go
  demo-sbom.json
  deploy/production/.env.example
  deploy/production/docker-compose.prod.yml
  deploy/production/nginx.conf
  internal/api/routes.go
  internal/handlers/health.go
  internal/handlers/standalone.go
  pkg/types/types.go
  scripts/deploy.sh
  test/integration/e2e_test.go
  test/simple_test.go
Owners: @your-org/core-maintainers, @your-org/platform-team, @your-org/security-team, @your-org/backend-team, @your-org/qa-team

feat(deployment): add production deployment setup with Docker and scripts (#38)
  .provenance.json
  Dockerfile.prod
  cmd/standalone/main.go
  demo-sbom.json
  deploy/production/.env.example
  deploy/production/docker-compose.prod.yml
  deploy/production/nginx.conf
  internal/api/routes.go
  internal/handlers/health.go
  internal/handlers/standalone.go
  pkg/types/types.go
  scripts/deploy.sh
  test/integration/e2e_test.go
  test/simple_test.go
Owners: @your-org/core-maintainers, @your-org/platform-team, @your-org/security-team, @your-org/backend-team, @your-org/qa-team

feat(cli): add production deployment guide, quality gates report, and CLI enhancements
  .provenance.json
  DEPLOYMENT_GUIDE.md
  QUALITY_GATES_REPORT.md
  README-GENERATED.md
  go.mod
  internal/cli/commands.go
  internal/handlers/artifact_test.go
  internal/middleware/auth.go
  nist-ssdf-report.json
  pkg/cache/redis_cache.go
  pkg/database/pool.go
  pkg/memory/pool.go
  pkg/monitoring/telemetry.go
  pkg/pipeline/async.go
  pkg/resilience/circuit_breaker.go
  pkg/sbom/parser.go
  pkg/types/types.go
  pkg/validation/security.go
  pkg/validation/validation.go
  pkg/worker/pool.go
  scripts/quality-gates.sh
Owners: @your-org/core-maintainers, @your-org/backend-team, @your-org/qa-team, @your-org/platform-team

feat(cli): add production deployment guide, quality gates report, and CLI enhancements (#49)
  .provenance.json
  DEPLOYMENT_GUIDE.md
  QUALITY_GATES_REPORT.md
  README-GENERATED.md
  go.mod
  internal/cli/commands.go
  internal/handlers/artifact_test.go
  internal/middleware/auth.go
  nist-ssdf-report.json
  pkg/cache/redis_cache.go
  pkg/database/pool.go
  pkg/memory/pool.go
  pkg/monitoring/telemetry.go
  pkg/pipeline/async.go
  pkg/resilience/circuit_breaker.go
  pkg/sbom/parser.go
  pkg/types/types.go
  pkg/validation/security.go
  pkg/validation/validation.go
  pkg/worker/pool.go
  scripts/quality-gates.sh
Owners: @your-org/core-maintainers, @your-org/backend-team, @your-org/qa-team, @your-org/platform-team

feat(compliance): add comprehensive compliance reporting and logging
  .provenance.json
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  docker-compose.prod.yml
  internal/errors/errors.go
  internal/handlers/compliance.go
  internal/handlers/health.go
  internal/handlers/provenance.go
  internal/handlers/sbom.go
  internal/middleware/security.go
  internal/middleware/validation.go
  nist-ssdf-report.json
  pkg/cache/redis_cache.go
  pkg/logger/structured.go
  pkg/resilience/circuit_breaker.go
Owners: @your-org/core-maintainers, @your-org/platform-team, @your-org/backend-team

feat(compliance): add comprehensive compliance reporting and logging (#50)
  .provenance.json
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  docker-compose.prod.yml
  internal/errors/errors.go
  internal/handlers/compliance.go
  internal/handlers/health.go
  internal/handlers/provenance.go
  internal/handlers/sbom.go
  internal/middleware/security.go
  internal/middleware/validation.go
  nist-ssdf-report.json
  pkg/cache/redis_cache.go
  pkg/logger/structured.go
  pkg/resilience/circuit_breaker.go
Owners: @your-org/core-maintainers, @your-org/platform-team, @your-org/backend-team

feat(self-healing): implement complete self-healing pipeline guard system with production deployment
  PRODUCTION_DEPLOYMENT_COMPLETE.md
  cmd/server/main.go
  deployments/docker/Dockerfile.production
  deployments/docker/docker-compose.production.yml
  deployments/docker/healthcheck.sh
  deployments/scripts/deploy.sh
  internal/config/dynamic_config.go
  internal/handlers/self_healing.go
  pkg/autoscaling/intelligent_scaler.go
  pkg/cache/performance_cache.go
  pkg/concurrency/resource_pool.go
  pkg/errors/advanced_error_handler.go
  pkg/loadbalancer/intelligent_loadbalancer.go
  pkg/monitoring/self_healing_metrics.go
  pkg/pipeline/anomaly_detection.go
  pkg/pipeline/self_healing.go
  pkg/security/threat_detection.go
  scripts/integration_tests.sh
  scripts/validate_quality_gates.sh
Owners: @your-org/core-maintainers, @your-org/backend-team, @your-org/platform-team

feat(self-healing): implement complete self-healing pipeline guard system with production deployment (#53)
  PRODUCTION_DEPLOYMENT_COMPLETE.md
  cmd/server/main.go
  deployments/docker/Dockerfile.production
  deployments/docker/docker-compose.production.yml
  deployments/docker/healthcheck.sh
  deployments/scripts/deploy.sh
  internal/config/dynamic_config.go
  internal/handlers/self_healing.go
  pkg/autoscaling/intelligent_scaler.go
  pkg/cache/performance_cache.go
  pkg/concurrency/resource_pool.go
  pkg/errors/advanced_error_handler.go
  pkg/loadbalancer/intelligent_loadbalancer.go
  pkg/monitoring/self_healing_metrics.go
  pkg/pipeline/anomaly_detection.go
  pkg/pipeline/self_healing.go
  pkg/security/threat_detection.go
  scripts/integration_tests.sh
  scripts/validate_quality_gates.sh
Owners: @your-org/core-maintainers, @your-org/backend-team, @your-org/platform-team

feat(api): add production-ready Provenance Linker API server and deployment
  .env.production.example
  .provenance.json
  AUTONOMOUS_COMPLETION_REPORT.md
  Dockerfile.production
  cmd/minimal-server/main.go
  cmd/simple-server/main.go
  demo-graph.json
  deploy/production-deploy.sh
  docker-compose.production.yml
  internal/config/config.go
  internal/handlers/handlers.go
  internal/middleware/middleware.go
  nist-ssdf-report.json
  performance_benchmark.go
  pkg/cache/performance_cache.go
  pkg/sbom/parser.go
  sample-cyclonedx.json
  test_integration.go
Owners: @your-org/core-maintainers, @your-org/platform-team, @your-org/security-team, @your-org/backend-team

feat(api): add production-ready Provenance Linker API server and deployment (#54)
  .env.production.example
  .provenance.json
  AUTONOMOUS_COMPLETION_REPORT.md
  Dockerfile.production
  cmd/minimal-server/main.go
  cmd/simple-server/main.go
  demo-graph.json
  deploy/production-deploy.sh
  docker-compose.production.yml
  internal/config/config.go
  internal/handlers/handlers.go
  internal/middleware/middleware.go
  nist-ssdf-report.json
  performance_benchmark.go
  pkg/cache/performance_cache.go
  pkg/sbom/parser.go
  sample-cyclonedx.json
  test_integration.go
Owners: @your-org/core-maintainers, @your-org/platform-team, @your-org/security-team, @your-org/backend-team

feat(security): add advanced security threat detection middleware
  cmd/server/main.go
  go.mod
  internal/config/config.go
  internal/middleware/metrics.go
  internal/middleware/middleware.go
  internal/middleware/security_enhanced.go
  pkg/autoscaling/autoscaler.go
  pkg/errors/circuit_breaker.go
  pkg/loadbalancer/loadbalancer.go
  pkg/monitoring/self_healing.go
  pkg/optimization/intelligent_optimization.go
  pkg/optimization/pools.go
  pkg/optimization/predictive_scaling.go
  pkg/pipeline/anomaly_detection.go
  pkg/pipeline/health_extension.go
  pkg/pipeline/self_healing_pipeline.go
  pkg/security/advanced_threat_detection.go
  pkg/validation/enhanced_validation.go
Owners: @your-org/backend-team

feat(security): add advanced security threat detection middleware (#67)
  cmd/server/main.go
  go.mod
  internal/config/config.go
  internal/middleware/metrics.go
  internal/middleware/middleware.go
  internal/middleware/security_enhanced.go
  pkg/autoscaling/autoscaler.go
  pkg/errors/circuit_breaker.go
  pkg/loadbalancer/loadbalancer.go
  pkg/monitoring/self_healing.go
  pkg/optimization/intelligent_optimization.go
  pkg/optimization/pools.go
  pkg/optimization/predictive_scaling.go
  pkg/pipeline/anomaly_detection.go
  pkg/pipeline/health_extension.go
  pkg/pipeline/self_healing_pipeline.go
  pkg/security/advanced_threat_detection.go
  pkg/validation/enhanced_validation.go
Owners: @your-org/backend-team

feat(autonomous-sdlc): add comprehensive autonomous SDLC completion summary report
  AUTONOMOUS_SDLC_COMPLETION_SUMMARY.md
  pkg/database/pool.go
  pkg/optimization/intelligent_optimization.go
  pkg/optimization/predictive_scaling.go
  pkg/validation/validation.go
  pkg/worker/pool.go
Owners: @your-org/core-maintainers, @your-org/backend-team

feat(autonomous-sdlc): add comprehensive autonomous SDLC completion summary report (#68)
  AUTONOMOUS_SDLC_COMPLETION_SUMMARY.md
  pkg/database/pool.go
  pkg/optimization/intelligent_optimization.go
  pkg/optimization/predictive_scaling.go
  pkg/validation/validation.go
  pkg/worker/pool.go
Owners: @your-org/core-maintainers, @your-org/backend-team

feat(autonomous-sdlc): implement complete autonomous SDLC with intelligent features
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  DEPLOYMENT_INSTRUCTIONS.md
  deploy/production/deploy-production.sh
  internal/handlers/artifact.go
  internal/handlers/provenance.go
  pkg/intelligence/adaptive_optimization.go
  pkg/reliability/health_monitoring.go
  pkg/resilience/advanced_circuit_breaker.go
  pkg/scaling/intelligent_autoscaler.go
  scripts/comprehensive-quality-gates.sh
  scripts/quick-quality-gates.sh
Owners: @your-org/core-maintainers, @your-org/platform-team, @your-org/security-team, @your-org/backend-team

feat(autonomous-sdlc): implement complete autonomous SDLC with intelligent features (#69)
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  DEPLOYMENT_INSTRUCTIONS.md
  deploy/production/deploy-production.sh
  internal/handlers/artifact.go
  internal/handlers/provenance.go
  pkg/intelligence/adaptive_optimization.go
  pkg/reliability/health_monitoring.go
  pkg/resilience/advanced_circuit_breaker.go
  pkg/scaling/intelligent_autoscaler.go
  scripts/comprehensive-quality-gates.sh
  scripts/quick-quality-gates.sh
Owners: @your-org/core-maintainers, @your-org/platform-team, @your-org/security-team, @your-org/backend-team

feat(research-framework): add AI-enhanced zero-trust provenance framework with novel research
  AUTONOMOUS_SDLC_RESEARCH_COMPLETION_REPORT.md
  RESEARCH_PAPER.md
  cmd/server/main.go
  pkg/blockchain/immutable_provenance.go
  pkg/intelligence/sac_rainbow_security.go
  pkg/mlbom/advanced_mlbom.go
  pkg/research/integration.go
  pkg/temporal/predictive_provenance.go
Owners: @your-org/core-maintainers, @your-org/backend-team

feat(research-framework): add AI-enhanced zero-trust provenance framework with novel research (#77)
  AUTONOMOUS_SDLC_RESEARCH_COMPLETION_REPORT.md
  RESEARCH_PAPER.md
  cmd/server/main.go
  pkg/blockchain/immutable_provenance.go
  pkg/intelligence/sac_rainbow_security.go
  pkg/mlbom/advanced_mlbom.go
  pkg/research/integration.go
  pkg/temporal/predictive_provenance.go
Owners: @your-org/core-maintainers, @your-org/backend-team

feat(autonomous-sdlc): add Generation 3 autonomous SDLC implementation with AI-driven security and scaling
  FINAL_AUTONOMOUS_SDLC_REPORT.md
  cli
  cmd/server/main.go
  config/development.yaml
  config/production.yaml
  healthcheck.sh
  internal/performance/optimizer.go
  internal/resilience/health_check.go
  internal/scaling/autoscaler.go
  internal/security/threat_detector.go
  internal/validation/advanced_validator.go
  pkg/intelligence/sac_rainbow_security.go
  pkg/mlbom/advanced_mlbom.go
  pkg/temporal/predictive_provenance.go
  scripts/production-deploy.sh
  scripts/quality-gates-comprehensive.sh
Owners: @your-org/core-maintainers, @your-org/backend-team, @your-org/platform-team, @your-org/security-team

feat(autonomous-sdlc): add Generation 3 autonomous SDLC implementation with AI-driven security and scaling (#78)
  FINAL_AUTONOMOUS_SDLC_REPORT.md
  cli
  cmd/server/main.go
  config/development.yaml
  config/production.yaml
  healthcheck.sh
  internal/performance/optimizer.go
  internal/resilience/health_check.go
  internal/scaling/autoscaler.go
  internal/security/threat_detector.go
  internal/validation/advanced_validator.go
  pkg/intelligence/sac_rainbow_security.go
  pkg/mlbom/advanced_mlbom.go
  pkg/temporal/predictive_provenance.go
  scripts/production-deploy.sh
  scripts/quality-gates-comprehensive.sh
Owners: @your-org/core-maintainers, @your-org/backend-team, @your-org/platform-team, @your-org/security-team

feat: Claude Code automated enhancements
  .github/workflows/ci.yml
  CLAUDE_IMPROVEMENTS.md
  README_ENHANCED.md
  src/errors/handler.js
  src/monitoring/health.js
Owners: @your-org/platform-team, @your-org/security-team, @your-org/core-maintainers

feat: Claude Code automated enhancements (#79)
  .github/workflows/ci.yml
  CLAUDE_IMPROVEMENTS.md
  README_ENHANCED.md
  src/errors/handler.js
  src/monitoring/health.js
Owners: @your-org/platform-team, @your-org/security-team, @your-org/core-maintainers

feat: implement SBOM provenance graph with cryptographic attestation
  cmd/benchmark/main.go
  cmd/integration-test/main.go
  cmd/simple-minimal-server/main.go
  cmd/simple-server/main.go
  cmd/standalone/main.go
  demo-provenance-graph.json
  internal/handlers/artifact_test.go
  internal/security/threat_detector.go
  internal/validation/advanced_validator.go
  main.go
  pkg/database/pool.go
  pkg/research/integration.go
  pkg/resilience/advanced_circuit_breaker.go
  pkg/scaling/intelligent_autoscaler.go
  sample-cyclonedx.json
  test/integration/api_test.go
  test/integration/e2e_test.go
Owners: @your-org/backend-team, @your-org/core-maintainers, @your-org/qa-team

.github/CODEOWNERS:

# Global ownership - Core team reviews all changes by default
* @your-org/core-maintainers

# Architecture and design documents
/docs/ARCHITECTURE.md @your-org/tech-steering-committee
/docs/adr/ @your-org/tech-steering-committee
/PROJECT_CHARTER.md @your-org/tech-steering-committee
/docs/ROADMAP.md @your-org/tech-steering-committee

# Security-related files require security team review
/SECURITY.md @your-org/security-team
/security/ @your-org/security-team
/internal/middleware/security.go @your-org/security-team
/**/*security* @your-org/security-team
/**/*crypto* @your-org/security-team
/**/*sign* @your-org/security-team

# Compliance and governance
/compliance/ @your-org/compliance-team
/GOVERNANCE.md @your-org/tech-steering-committee
/CODE_OF_CONDUCT.md @your-org/community-team

# Infrastructure and deployment
/deploy/ @your-org/platform-team @your-org/security-team
/docker-compose*.yml @your-org/platform-team
/Dockerfile* @your-org/platform-team @your-org/security-team
/.github/workflows/ @your-org/platform-team @your-org/security-team
/observability/ @your-org/platform-team

# Go core implementation
/cmd/ @your-org/backend-team
/internal/ @your-org/backend-team
/pkg/ @your-org/backend-team
go.mod @your-org/backend-team
go.sum @your-org/backend-team

# Testing infrastructure
/test/ @your-org/qa-team @your-org/backend-team
/**/*_test.go @your-org/qa-team @your-org/backend-team

# Web/UI components
/web/ @your-org/frontend-team
package.json @your-org/frontend-team

# Documentation
/docs/ @your-org/docs-team
/README.md @your-org/docs-team @your-org/core-maintainers
/CONTRIBUTING.md @your-org/docs-team @your-org/community-team
/CHANGELOG.md @your-org/docs-team

# Configuration files
/config/ @your-org/platform-team @your-org/security-team
/.env.example @your-org/platform-team

# Database migrations and schemas
/internal/database/ @your-org/backend-team @your-org/data-team

# API definitions
/api/ @your-org/backend-team @your-org/api-team

# Performance and metrics
/performance/ @your-org/performance-team
/metrics/ @your-org/performance-team @your-org/platform-team

# Scripts and automation
/scripts/ @your-org/platform-team
Makefile @your-org/platform-team

# License and legal
LICENSE @your-org/legal-team
